In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/Users/zeliestalhanske/Downloads/ts-q-01.04.02.01.31.csv', sep=';')

In [3]:
df.AGE.unique()

array(['_T', 'Y0T4', 'Y10T14', 'Y15T19', 'Y20T24', 'Y25T29', 'Y30T34',
       'Y35T39', 'Y40T44', 'Y45T49', 'Y50T54', 'Y55T59', 'Y60T64',
       'Y65T69', 'Y70T74', 'Y75T79', 'Y80T84', 'Y85T89', 'Y_GE90', 'Y5T9'],
      dtype=object)

In [4]:
df = df[df['GEO']=='CH']

In [5]:
df.Obs_value = df.Obs_value/7

In [6]:
df.AGE.unique()

array(['_T', 'Y0T4', 'Y10T14', 'Y15T19', 'Y20T24', 'Y25T29', 'Y30T34',
       'Y35T39', 'Y40T44', 'Y45T49', 'Y50T54', 'Y55T59', 'Y60T64',
       'Y65T69', 'Y70T74', 'Y75T79', 'Y80T84', 'Y85T89', 'Y_GE90', 'Y5T9'],
      dtype=object)

In [7]:
df = df.replace(dict.fromkeys(['Y0T4','Y5T9', 'Y10T14', 'Y15T19', 'Y20T24', 'Y25T29', 'Y30T34',
       'Y35T39', 'Y40T44', 'Y45T49', 'Y50T54', 'Y55T59', 'Y60T64',
       'Y65T69', 'Y70T74'], 'Under 75'))

In [8]:
df = df.replace(dict.fromkeys(['Y75T79', 'Y80T84', 'Y85T89', 'Y_GE90'], 'Over 75'))

In [9]:
df = df[df.AGE != '_T']
df = df[df.SEX == 'T']

In [10]:
df = df.groupby(['TIME_PERIOD', 'GEO', 'AGE']).sum().reset_index()
df = df.drop(columns='Obs_status')

In [11]:
df

     TIME_PERIOD GEO       AGE   Obs_value
0       2000-W01  CH   Over 75  166.714286
1       2000-W01  CH  Under 75   63.428571
2       2000-W02  CH   Over 75  179.000000
3       2000-W02  CH  Under 75   63.571429
4       2000-W03  CH   Over 75  161.428571
...          ...  ..       ...         ...
2081    2019-W50  CH  Under 75   54.142857
2082    2019-W51  CH   Over 75  146.428571
2083    2019-W51  CH  Under 75   53.714286
2084    2019-W52  CH   Over 75  140.142857
2085    2019-W52  CH  Under 75   49.714286

[2086 rows x 4 columns]

In [12]:
df['WEEK'] = df.TIME_PERIOD.str.split("-",expand=True,)[1]

In [13]:
df = df.groupby(['WEEK', 'AGE']).mean().reset_index()
df['WEEK'] = df['WEEK'].str.replace('W', '')
df['WEEK'] = df['WEEK'].str.replace('0', '')

In [14]:
df['WEEK'] = df['WEEK'].astype('int')

In [25]:
df_summer = df[(df['WEEK']<43)&(df['WEEK']>17)]

In [26]:
df_summer = df_summer.groupby('AGE').mean().reset_index()

In [27]:
df.groupby('AGE').mean()

              WEEK   Obs_value
AGE
Over 75   24.45283  122.200809
Under 75  24.45283   51.409344

In [28]:
df_summer

        AGE  WEEK   Obs_value
0   Over 75    30  111.789935
1  Under 75    30   50.169156

In [19]:
df_summer = df_summer.drop(columns='WEEK')

In [20]:
df_summer.columns = ['category','daily_deaths']

In [21]:
df_summer['canton'] = ['CH','CH']

In [23]:
df_summer

   category  daily_deaths canton
0   Over 75    112.742857     CH
1  Under 75     50.100311     CH

In [24]:
df_summer.to_excel('../../input_data/impact_functions/summer_deaths.xlsx')